// Colors

$COLORS-black: #000000;
$COLORS-white: #ffffff;
$COLORS-purple-600: #240d57;
$COLORS-purple-500: #501fc1;
$COLORS-purple-400: #8456ec;
$COLORS-purple-300: #ccb6ff;
$COLORS-purple-200: #ede5ff;
$COLORS-purple-100: #f6f2ff;
$COLORS-pink-400: #e87bf8;
$COLORS-pink-300: #ffd7e0;
$COLORS-red: #e61445;
$COLORS-green-400: #00805e;
$COLORS-green-300: #d3ffe2;
$COLORS-gray-600: #4f4f4f;
$COLORS-gray-500: #828282;
$COLORS-gray-400: #bdbdbd;
$COLORS-gray-300: #e0e0e0;
$COLORS-gray-200: #f2f2f2;
$COLORS-gray-100: #fbfaff;

// Fonts
$FONT-helvetica-light: "Helvetica-Light";
$FONT-helvetica-oblique: "Helvetica-Oblique";
$FONT-helvetica-bold-oblique: "Helvetica-Bold-Oblique";
$FONT-helvetica-rounded-bold: "Helvetica-Rounded-Bold";
$FONT-helvetica-bold: "Helvetica-Bold";
$FONT-helvetica-compressed: "Helvetica-Compressed";
$FONT-helvetica: "Helvetica";

// Radius

$border-radius: 10px;

// Media queries
$width-desktop: 1920px;
$width-laptop: 1610px;
$width-tablet: 992px;
$width-mobile: 767px;
